#reserve {
  margin-left: 2%;
  margin-right: 30%;
}

#location-info-here {
  margin-left: 25%;
}

#sectional-portion {
  display: flex;
}

.photo-gallery {
  margin-left: 15%;
  margin-right: 15%;
}
